

.searchMain {
  float:left;
  width:100%;
  background: #f5f5f5;
  height: 195px;
  margin:10px 0;
}


.sema_tit {
  color: #333;
  float: left;
  font-size: 18px;
  height: 88px;
  line-height: 22px;
  margin: 60px 0 0 18px;
  padding: 13px 0 0 12px;
  width: 48px;
}

.sema_body {
  float: right;
  height: 155px;
  width: 1105px;
  margin-top:20px;
}


.smb_li {
  background: #fff none repeat scroll 0 0;
  float: left;
  height: 155px;
  margin: 0 15px 0 0;
  width: 260px;
}

.smbli_l {
  float: left;
  height: 100px;
  margin: 27px 10px 0 5px;
  width: 100px;
}


.smbli_l img {
  width:100px;
  height:100px;
}

.smbli_r {
  float: left;
  height: 100px;
  margin-top: 27px;
  width: 135px;
}


.smblir_tit {
  height: 40px;
  overflow: hidden;
  width: 135px;
}

.smblir_tit a {
  color: #333;
  line-height: 20px;
}


.smblir_pri {
  color: #333;
  line-height: 20px;
  margin: 5px 0;
  overflow: hidden;
  width: 135px;
}

.smblir_pri span {
  color: #ff6700;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
}


.smblir_but a{
  background: #ff6700 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 107px;
}




.pNavSearch {
  float:left;
  width:100%;
  border:1px solid #e8e8e8;
  margin:30px 0;
  padding-bottom:10px;
  box-sizing:border-box;
  position:relative;
}




.pnavs_line {
  float:left;
  width:1180px;
  margin:0 10px;
  border-top:1px dashed #dadada;
  padding:15px 0 10px 0;
}


.pnavs_line:first-child {
  border-top:0;
}

.pnavsl_tit {
  float:left;
  width:65px;
  height:100%;
  line-height:30px;
  font-size:15px;
  color: #999;
}


.pnavsl_body {
  float:left;
  width:1115px;
}


.pnavsl_body li {
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 117px;
}

.pnavsl_body li a {
  color: #333;
}


.pnav_chomore {
  position:absolute;
  width:150px;
  height:30px;
  border:1px solid #e8e8e8;
  border-top:1px solid #ffff;
  background:#fff;
  bottom:-30px;
  left:525px;
  text-align:center;
  line-height:30px;
  cursor: pointer;  
  box-sizing: border-box;
}


.pnav_chomore i {
  position:absolute;
  top:-1px;
  left:0px;
  width:100%;
  height:1px;
  background:#fff;

}














